.bg--light {
  background-color: #f0f0f0; }

.bg--dark {
  background-color: #999999; }

.nav--secundario {
  background-color: #f0f0f0; }

.logo, nav ul .nav__logo, footer .footer__logo {
  font-size: 1em;
  font-weight: 800; }
  .logo:hover, nav ul .nav__logo:hover, footer .footer__logo:hover {
    font-style: italic; }

.grid__img, .grid__container--tercios img, .grid__container--mid img {
  width: 100%;
  height: 100%;
  object-fit: cover; }

.grid__container, .grid__container--tercios, .grid__container--mid {
  width: 100%;
  height: auto;
  display: grid;
  gap: 5px;
  overflow: hidden; }

.grid__container--tercios {
  grid-template-columns: repeat(3, 33%); }

.grid__container--mid {
  grid-template-columns: repeat(2, 50%); }

nav {
  display: flex;
  flex-direction: column;
  padding: 2.5em 4em 2.5em 4em;
  width: 100%;
  justify-content: center;
  align-items: center; }
  nav a {
    color: black;
    text-decoration: none; }
  nav ul {
    font-size: 0.8em; }
    nav ul li {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
      nav ul li a:hover {
        text-decoration: underline;
        color: black; }
    nav ul .nav__logo {
      color: black; }

footer {
  width: 100%;
  padding: 7em 4em 6em 4em;
  display: flex;
  flex-direction: row;
  background-color: black;
  align-items: center; }
  footer a {
    text-decoration: none; }
  footer ul {
    font-size: 0.8em; }
    footer ul li {
      padding-right: 0.5rem;
      padding-left: 0.5rem; }
      footer ul li a {
        color: white !important; }
        footer ul li a:hover {
          text-decoration: underline;
          color: white; }
  footer .footer__logo {
    color: white; }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  font-family: "JetBrains Mono", monospace;
  line-height: 1.6rem; }
  body a {
    color: inherit;
    text-decoration: none; }
    body a:hover {
      color: inherit; }

.navbar {
  padding: 2em 4em; }

.navbar-collapse {
  flex-grow: 0 !important; }

.intro {
  padding: 12em 1em 8em 1em; }

.boton-portafolio {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6em; }

.footer-item {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-bottom: 1em; }
  .footer-item ul {
    flex-wrap: wrap; }

.redes {
  justify-content: center;
  align-items: center;
  margin-left: 1em;
  margin-right: 1em; }

.icono-redes {
  margin: 0.3em;
  width: 30px; }
  .icono-redes:hover {
    opacity: 0.7; }

.portafolio-descripcion {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center; }

.prueba-grid {
  position: relative; }

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #00000067; }

.prueba-grid .overlay:hover {
  opacity: 1; }

.image {
  display: block;
  width: 100%;
  height: auto; }

.palabras-clave {
  padding-top: 2em; }

.tag {
  padding: 5px 10px 5px 10px;
  text-align: center;
  border: 1px solid black;
  margin-right: 1em;
  border-radius: 40px; }

.intro-inicio {
  text-align: center;
  height: 100vh; }

.bloque-boton {
  margin-top: 2em;
  text-align: center; }

.boton {
  border: 1px solid black;
  color: black;
  padding: 8px 30px;
  text-decoration: none;
  cursor: pointer;
  border-radius: 40px; }
